# Lesson 1: Basics of Python

## Variables:

In [7]:
x = 5              # Use hash "#" to comment.

In [9]:
x                  # Use Shift+Enter to execute

5

In [10]:
x,y = (1,2)        # Defining more than one variables. We have to have the same number of variables and values.

In [46]:
a = 6              # Assigning an integer 6 to "a".
b = 0.5            # Assigning a float 0.5 to "b".
c = "ala"          # Assigning a string (text) to "c". String should be inside "" or inside ''.
d = True           # Assigning a boolean (True or False) to "d". Use capital letters to define booleans.

type(d)            # This function returns the type of a variable. It can be "int", "float", "str" or "bool".
type("kla")        # type() function can be used directly to a value.

int(b)             # These functions change a given value into "int", "float", "str", or "bool" values.
float(a)
str(b)
bool(b)

True

## Printing text

In [47]:
print(a)                      # This functions displays (or prints) a given value. The output shows up 
                              # without quotes.
print(str(x) + " Dollar")     # If we have different types of values, we should unify them and convert them 
                              # to a string type to display everything correctly. Here an int "x" was 
                              # converted to a string.

6
1 Dollar

In [53]:
"I'm fine"         # If I have an apostrophe inside a sentence, I have to use "", a not '' to define 
                   # the text of the sentence.

'I\'m fine'        # Alternatively, "\" can be used together with single quatation marks ''.

'Press "Enter"'    # Another alternative.

'Press "Enter"'

In [68]:
"Ala " "ma " "kota"             # Adding three strings. Note the apca must be added in an appropriate place.
"Ala " + "ma " + "kota"         # Alternative.
print("Ala " + "ma " + "kota")  # Alternative, but the output text appears without quatation marks.
print("Ala", "ma", "kota")      # Alternative, but the comas can be used to replace the spaces.
3, 5, "gol"                     # Alternative, but all values will show up inside the parantheses ().

Ala ma kota
Ala ma kota

(3, 5, 'gol')

## Operators

In [81]:
x,y = 2 + 3, 4 - 2   # Sum and difference is made by using "+" and "-" signs.   
w,z = 16/3, 3.4*8    # Division and multiplication. In Python2 we would have to use 16.0/3 to get it correctly.
m = 16 % 3           # Remainder of the division
k = 2**3             # Power

x,y,w,z,m,k

(5, 2, 5.333333333333333, 27.2, 1, 8)

In [100]:
p = 5     # Assigning the value
p == 6    # Checking the condition: is p eqal to 6? The answer is always a boolean type.
p != 3    # Verifying whether the left side is not equal to the right side.
p > 3
p < 7
p >= 4     # Is p bigger or equal than 4? 
p <= 6     # Is p smaller or equal than 6?

True

In [106]:
True and True     # "and" operator results in True, only when both sides are True, otherwise it is False.
2 < 3 and 1 < 8   # Example of using "and".
True or False     # "or" operator results in True, when at least one side is True, otherwise is False.
2 > 4 or 4 < 6    # Example of using "or".
not False         # "not" operator is negation.

1 < 3 and not False or 2 > 7  # The order of importance: not - and - or

True

In [86]:
4*3 + 3 - \
9                     # In case of long expression we divide it into two lines, then "\" must be added 
                      # at the end of the first line.

6

## Indexing

In [87]:
"Friday"
"Friday"[3]    # We extract "d" from the world "Friday". Note this is the fourth element, but in Python we 
               # count from 0,1,2,...

'd'